<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Spring State Machine Order Shipping Demo</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="icon" type="image/x-icon" th:href="@{favicon.ico}">
	<link rel="stylesheet" th:href="@{webjars/bootstrap/5.1.3/css/bootstrap.min.css}">
</head>
<body>
	<div style="text-align:center;"><h1>Spring State Machine Order Shipping Demo</h1></div>
	<div class="container">
		<div class="row">
			<div class="col">
				<form id="orderShippingForm" action="#" data-th-action="@{/state}" data-th-object="${model}" method="post">
					<div class="container">
						<div class="row">
							<div class="col">
								<p th:text="'Choose customer'" />
								<div class="form-check">
									<ul class="list-unstyled d-inline-block">
										<li><h5>Customers</h5></li>
										<li th:each="ty : ${allCustomers}">
											<label class="form-check-label" th:inline="text"><input class="form-check-input" type="radio" name="customer" th:value="${ty}" /> [[${ty}]]</label>
										</li>
									</ul>
								</div>
								<div>
									<p th:text="'Choose order'" />
								</div>
								<div class="form-check">
									<ul class="list-unstyled d-inline-block">
										<li><h5>Orders</h5></li>
										<li th:each="ty : ${allOrders}">

											<label class="form-check-label" th:inline="text"><input class="form-check-input" type="radio" name="order" th:value="${ty}" /> [[${ty}]]</label>
										</li>
									</ul>
									<button class="btn btn-outline-primary" type="submit" name="action" value="order">Create Machine</button>
								</div>
							</div>
							<div class="col">
								<p th:text="'Choose event'" />
								<div class="form-check">
									<ul class="list-unstyled d-inline-block">
										<li><h5>Types</h5></li>
										<li th:each="ty : ${allTypes}">
											<label class="form-check-label" th:inline="text"><input class="form-check-input" type="radio" name="event" th:value="${ty}" /> [[${ty}]]</label>
										</li>
									</ul>
								</div>
								<div class="form-check">
									<ul class="list-unstyled d-inline-block">
										<li><h5>Guides</h5></li>
										<li th:each="ty : ${allGuides}">
											<label class="form-check-label" th:inline="text"><input type="checkbox" name="guide" th:value="${ty}" /> [[${ty}]]</label>
										</li>
									</ul>
								</div>
								<button class="btn btn-outline-primary" type="submit" name="action" value="event">Send Event</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<p th:text="'Machines:'" />
				<table>
					<tr>
						<th>Id</th>
						<th>States</th>
					</tr>
					<tr th:each="machine : ${machines}">
						<td th:text="${machine.id}"></td>
						<td th:text="${machine.state.ids}"></td>
					</tr>
				</table>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<form action="#" data-th-action="@{/state}" method="get">
					<button class="btn btn-outline-primary" type="submit">Refresh</button>
				</form>
				<div>
					<textarea th:text="${messages}" rows="20" cols="100"/></textarea>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript" th:src="@{webjars/jquery/3.6.0/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{webjars/bootstrap/5.1.3/js/bootstrap.min.js}"></script>
    <script type="text/javascript">
        window.ORDERSHIPPING = window.ORDERSHIPPING || {};
        /**
         * @method rws
         * @description RESTful Web services (RWS)
         *  Wrapped in an IIFE (Immediately Invoked Function Expression)
         * @paraam $ {object} jQuery object, used for ajax methods.
         */
        // eslint-disable-next-line no-undef
        ORDERSHIPPING.rws = (function($) {

			if (typeof $ === 'undefined') {
   				throw new Error('jQuery is not defined');
			}
          /**
           * @method get
           * @description Utility for getting JSON
           * @param path {string} The API path for the get request
           * @param cb {function} The callback function
           */
          function get(path, cb) {
            $.ajax({
              type: 'GET',
              url: path,
              success: cb,
              dataType: 'json',
              contentType: 'application/json'
            });
          }

          /**
           * @method post
           * @description Utility for posting JSON
           * @param path {string} The API path for the post request
           * @param data {string} The JSON stringified
           * @param cb {function} The callback function
           */
          function post(path, data, token, cb) {
            $.ajax({
              type: 'POST',
              url: path,
              data,
              // success: cb,
              dataType: 'json',
              contentType: 'application/json'
            }).then(function(res) {
              console.log('AJAX done', res);
              if (typeof cb === 'function')
                cb(res);
            }).catch(function(err) {
              console.log('AJAX err', err);
            });
          }

          /**
           * @method form
           * @description Utility for posting application/x-www-form-urlencoded models
           * @param path {string} The API path for the post request.
           * @param data {object} The data to post.
           * @param cb {function} The callback function.
           */
          function form(path, data, cb) {
            $.ajax({
              type: 'POST',
              url: path,
              data,
              contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
              success: cb
            });
          }

          function multipart(formData, cb) {
            $.ajax({
              type: 'POST',
              enctype: 'multipart/form-data',
              url: '/account/upload',
              data: formData,
              processData: false,
              contentType: false,
              cache: false,
              timeout: 600000,
              success: cb,
              error(err) {
                console.log('ERROR : ', err);
              }
            });
          }
          return {get, post, form, multipart};
        })($);

         $(document).ready(function() {
 			console.log("jQuery ready");
 			ORDERSHIPPING.form = document.getElementById("orderShippingForm");
 			// ORDERSHIPPING.form.addEventListener('submit', function(event) {
		      /* Note: form must have novalidate attribute for this to work! */
		      // event.preventDefault();
		      // event.stopPropagation();

		    // }, false);
 			ORDERSHIPPING.rws.get("/api?name=joe", function(res) {
 				console.log("API:", res);
 			});
         });
    </script>
</body>
</html>
